@tailwind base;
@tailwind components;
@tailwind utilities;

body:not(.layout-fixed) .main-sidebar {
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    top: 0;
}
table.dataTable th.dt-type-numeric{
    text-align: left;
}